doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title #{title || 'Picasa App'}
    script(src="https://cdn.tailwindcss.com")

  body.bg-gray-100.min-h-screen.text-gray-800

    // NAVIGATION BAR
    nav.bg-white.shadow-sm.border-b.border-gray-200
      .max-w-7xl.mx-auto.px-4
        .flex.items-center.h-14.gap-8
            a(
            href="/"
            class=(active === 'dashboard'
                ? "text-blue-600 font-semibold"
                : "text-gray-700 hover:text-blue-600")
            ) Dashboard

            a(
            href="/browse"
            class=(active === 'browser'
                ? "text-blue-600 font-semibold"
                : "text-gray-700 hover:text-blue-600")
            ) Folder Browser

            a(
            href="/upload"
            class=(active === 'upload'
                ? "text-blue-600 font-semibold"
                : "text-gray-700 hover:text-blue-600")
            ) Upload

    main.max-w-7xl.mx-auto.px-6.py-8
      block content
